<h1> Here you can create a new tracking day </h1>
<p>Enter the name of day and the date</p>

<form action='/days' method="POST">
    Name: <input type=text name="name">
    Date: <input type=date name="date" value="<?php echo date('Y-m-d'); ?>">
    <input type=submit>
</form>