<h1>Here you can edit your intake for the day! </h1><br>

<form action="/intakes/<%= @intake.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <p>Name of Food/Drinks: <input type=text value="<%= @intake.name %>" name="name"><br></p>
    <p>Amount of Intake: <input type=number value="<%= @intake.amount %>" name="amount"><br></p>
    <p>Date of Intake: <input type=date value="<%= @intake.date %>" name="date"><br></p>
    <input type=submit>
</form>