<h1> This is the intake form </h1>
<p>Enter the name of food/drinks and the amount of calories</p>

<form action='/intakes' method="POST">
    Name: <input type=text name="name">
    Amount: <input type=number name="amount">
    Date: <input type=date name="date">
    <input type=submit>
</form>