<h1> This is the intake form </h1>
<p>Enter the name of food/drinks and the amount of calories</p>

<form action='/intakes' method="POST">
    <p>Name of Food/Drink: <input type=text name="name"><br></p>
    <p>Amount of Calories: <input type=number name="amount"><br></p>
    <p>Date of Intake: <input type=date name="date"><br></p>
    <input type=submit>
</form>